.button{
  border:none;
  background:transparent;
  width:50px;
  height:100%;
}

.button:hover{
  cursor:pointer;
  background:var(--contentBgHover);
}

@media(min-width:640px){
  .button{
    display:none;
  }
}