.title{
  display:block;
  font-size:1.25rem;
  font-weight:700;
  margin-bottom:0.5rem;
}

.container{
  margin-top:2rem;
}

.list{
  list-style: none;
  margin-left:1.5rem;
  font-size:0.875rem;
}

.item{
  margin:0;
}

.link{
  color:var(--infoTextColor);
  line-height:1.75;
  text-decoration:underline;
}

.link:hover{
  color:var(--lightAccentTextColor);
}

.link__active{
  background-color:var(--accentBgColor);
  color:var(--accentTextColor);
  padding:3px;
  border-radius:5px;
}

.link__active:hover{
  background-color:var(--accentBgHover);
}