.title{
  display:none;
}

.container{
  margin-top:2rem;
}

.list{
  list-style: none;
  margin-left:1.5rem;
  font-size:0.875rem;
}

.list__h1{
  margin-left:0;
}

.item{
  margin:0;
}

@media(min-width: 1280px){
  .title{
    display:block;
    font-size:1.25rem;
    font-weight:700;
    margin-bottom:0.5rem;
  }
}