.title{
  display:block;
  font-size:1.25rem;
  font-weight:700;
  margin-bottom:0.5rem;
}

.list{
  list-style: none;
  margin-left:1.5rem;
  font-size:0.875rem;
}

.list__h1{
  margin-left:0;
}

.item{
  margin:0;
}

@media(min-width: 1280px){
  .container{
    width:calc(50% - 27rem);
    position:fixed;
    top:50px;
    left:calc(50% + 25rem);
    margin-top:2rem;
  }
}