.page{
  margin:0 auto;
  width:100%;
  min-height:100vh;
}

.container{
  width:92%;
  max-width:calc(100% - 48px);
  margin:0 auto;
  margin-top:2rem;
}

.title{
  font-size:2rem;
  font-weight:700;
  margin-bottom:1rem;
}

.time{
  display:block;
  font-size:1.25rem;
  font-weight:400;
  margin-bottom:0.5rem;
}

.tagList{
  list-style:none;
  margin:0;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  gap:10px;
}

.tag{
  background-color:var(--indigo1);
  color:var(--indigo8);
  padding:5px;
  border-radius:5px;
}

@media (min-width: 768px) {
  .page{
    max-width:50rem;
  }
}