.lg{
  font-size:1.5rem;
  margin: 10px 0;
}

.md{
  font-size:1.25rem;
  margin: 10px 0;
}

.sm{
  font-size:1rem;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .lg{
    font-size:2rem;
    font-weight:700;
  }

  .md{
    font-size:1.5rem;
    font-weight:700;
  }

  .sm{
    font-size:1.25rem;
  }
}