:root{
  --gray0:#f8f9fa;
  --gray1:#f1f3f5;
  --gray2:#e9ecef;
  --gray3:#dee2e6;
  --gray4:#ced4da;
  --gray5:#adb5bd;
  --gray6:#868e96;
  --gray7:#495057;
  --gray8:#343a40;
  --gray9:#212529;


  --lime0:#f4fce3;
  --lime1:#e9fac8;
  --lime2:#d8f5a2;
  --lime3:#c0eb75;
  --lime4:#a9e34b;
  --lime5:#94d82d;
  --lime6:#82c91e;
  --lime7:#74b816;
  --lime8:#66a80f;
  --lime9:#5c940d;
}