.title-lg{
  font-size:1.5rem;
}

.title-md{
  font-size:1.25rem;
}

.title-sm{
  font-size:1.2rem;
}

@media (min-width: 768px) {
  .title-lg{
    font-size:2rem;
    font-weight:700;
  }

  .title-md{
    font-size:1.5rem;
    font-weight:700;
  }

  .title-sm{
    font-size:1.25rem;
  }
}

.mb-2{
  margin-bottom: 8px;
}

.my-2{
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3{
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-5{
  margin-top: 20px;
  margin-bottom: 20px;
}

.md:mb-2.5{
  @media (min-width: 768px) {
    .title {
      margin-bottom:10px;
    }
  }
}