:root {
  --white:#fff;
  --black:#000;

  --gray0:#f8f9fa;
  --gray1:#f1f3f5;
  --gray2:#e9ecef;
  --gray3:#dee2e6;
  --gray4:#ced4da;
  --gray5:#adb5bd;
  --gray6:#868e96;
  --gray7:#495057;
  --gray8:#343a40;
  --gray9:#212529;

  --indigo0:#edf2ff;
  --indigo1:#dbe4ff;
  --indigo2:#bac8ff;
  --indigo3:#91a7ff;
  --indigo4:#748ffc;
  --indigo5:#5c7cfa;
  --indigo6:#4c6ef5;
  --indigo7:#4263eb;
  --indigo8:#3b5bdb;
  --indigo9:#364fc7;

  --bgColor: #ffffff;
  --textColor: #000000;

  --bgGray: #f1f3f5;
  --bgGrayHover: #e9ecef;
  --headerBorderColor: #dee2e6;
  --borderGray: #adb5bd;
  --shadowGray:#868e96;
  --textGray:#495057;

  --codeBlockBgColor:#edf2ff;
  --bgIndigo:#dbe4ff;
  --bgIndigoHover:#bac8ff;
  --textLightIndigo:#4c6ef5;
  --linkColor:#4263eb;
  --textIndigo:#3b5bdb;
  --codeBlockTextColor:#364fc7;

  font-family:"pretendard", apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

[data-theme='dark'] {
  --bgColor: #212529;
  --textColor: #ececec;

  --bgGray: #343a40;
  --bgGrayHover:#343a40;
  --headerBorderColor:#495057;
  --borderGray: #868e96;
  --shadowGray:#868e96;
  --textGray:#ced4da;

  --codeBlockBgColor:#343a40;
  --codeBlockTextColor:#edf2ff;
  --bgIndigo:#002395;
  --bgIndigoHover:#2b4aaf;
  --textIndigo:#edf2ff;
  --textLightIndigo:#748ffc;
  --linkColor:#91a7ff;
}

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  min-height:100vh;
  scroll-behavior: smooth;
  background-color:var(--bgColor);
  color:var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size:1.75rem;
}

h2 {
  font-size:1.5rem;
}

h3 {
  font-size:1.25rem;
}

h4 {
  font-size:1rem;
}

h5 {
  font-size:0.875rem;
}

h6 {
  font-size:0.75rem;
}

hr{
  margin:0.25rem 0;
  border:0;
  border-top:0.125rem solid var(--gray5);
}

img{
  display:block;
  margin:0 auto;
}

p{
  margin:0.75rem 0;
  line-height:1.5rem;
}

table{
  width:100%;
  margin:0.75rem 0;
  border-collapse:collapse;
  line-height:1.75rem;
}

tr{
  border-bottom:1px solid var(--gray5);
}

th, td{
  padding:0.75rem 0;
}

blockquote{
  padding-left:1rem;
  border-left:0.25rem solid var(--indigo7);
}

article{
  overflow-wrap:break-word;
}

article :is(ul, ol){
  margin-left:2rem;
}

article :is(ul, ol) :is(ul, ol){
  margin-left:1.5rem;
}

article :is(ul, ol) li{
  margin:0.375rem 0;
}

article :is(ul, ol) li p{
  margin:0;
}

article pre[class^="language-"]{
  border-radius:0.25rem;
}

:is(pre[class*="language-"], code[class*="language-"]){
  white-space: 'pre-wrap',
}

[data-theme='dark'] pre[data-theme='light']{
  display:none;
}

[data-theme='light'] pre[data-theme='dark']{
  display:none;
}

@media (prefers-color-scheme: dark){
  html {
    data-theme:dark;
  }
}