.footer{
  color:var(--infoTextColor);
  background-color:var(--contentBgColor);
  margin-top:50px;
  padding:20px 0;
}

.container{
  max-width:60rem;
  margin:0 auto;
}

.inner{
  width:92%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  font-size:1rem;
}