.container{
  margin-bottom:2rem;
}

.title:hover{
  color:var(--textLightIndigo);
}

.list{
  list-style:none;
  padding:0;
  display: grid;
  gap:1rem;
  margin:0;
}

@media (min-width:768px){
  .list{
    grid-template-columns:repeat(3,1fr);
  }
}