.container{
  border: 1px solid var(--gray5);
  border-radius: 1rem;
  box-sizing: border-box;
  
  height:150px;
  display:flex;
  flex-direction:column;
}

.link{
  display:block;
  height:100%;
  padding:10px 5px;
  text-decoration:none;
  color:var(--black);
}

.link:hover{
  color:var(--indigo6);
}