.item{
  width:60px;
}

.link{
  text-decoration:none;
  color:var(--textColor);
  display:block;
  width:60px;
  height:50px;
  text-indent:0;
  line-height:50px;
  text-align:center;
}

.link:hover{
  background:var(--bgGrayHover)
}

@media (min-width: 640px) {
  .item{
    width:80px;
  }
  .link{
    width:80px;
  }

}
