.content{
  margin:0 auto;
  width:100%;
  min-height:100vh;
  word-break:keep-all;
}

.content h1{
  margin: 2rem 0 1.25rem 0;
  padding-bottom:0.25rem;
  border-bottom:1px solid var(--borderColor);
  font-weight:600;
}

.content :is(h2, h3, h4, h5, h6){
  font-weight:500;
}

.content h1 a{
  border-bottom:none;
}

.content h2{
  margin: 1.5rem 0 1rem 0;
  padding-bottom:0.25rem;
  border-bottom:1px solid var(--borderColor);
}

.content h2 a{
  border-bottom:none;
}

.content h3{
  padding-bottom:0.25rem;
  border-bottom:1px solid var(--borderColor);
}

.content h2 a{
  border-bottom:none;
}

.content :is(h1, h2, h3, h4, h5, h6){
  scroll-margin-top:50px;
}

.content a{
  border-bottom:1px solid var(--linkColor);
  color:var(--linkColor);
  white-space:pre-wrap;
  word-break:break-all;
  overflow-wrap:break-word;
}

.content pre code{
  white-space:pre-wrap;
  word-break:break-all;
  overflow-wrap:break-word;
}

.content :is(pre,code){
  //font-family:monospace, Pretendard, apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-family: 'Fira Code', Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* 점 병합에 관한 옵션 */
  font-variant-ligatures: none;
  font-size:1rem;
  overflow:auto;
}

.content pre{
  margin:1rem 0;
  padding:1rem;
  border-radius:0.5rem;
  background-color:var(--contentBgColor);
  line-height:1.5;
}

.content :not(pre) > code{
  padding:0.25rem;
  border-radius:0.25rem;
  background-color:var(--codeBlockBgColor);
  color:var(--codeBlockTextColor);
}

.content img{
  display:block;
  margin:0 auto;
  max-width:92%;
  padding:1rem 0;
}

.content blockquote{
  border-left:2px solid var(--borderColor);
  padding-left:1rem;
  color:var(--infoTextColor);
}

.content p{
  line-height:1.625;
  margin-bottom:1.25rem;
}

.content p code{
  white-space:pre-wrap;
}

.content hr{
  border:0;
  border-top:1px solid var(--borderColor);
  margin:0.5rem 0;
}

.content span[aria-hidden="true"]{
  display:none;
}

.content :is(ul, ol){
  padding-left:1.5rem;
}