.container{
  display: flex;
  flex-direction: row;
  gap:1rem;
  /*border: 1px solid var(--gray5);
  border-radius: 1rem;*/
  box-sizing: border-box;
  padding:15px 15px 15px 0;
  min-height:150px;
}


.image{
  border-radius:1rem;
  margin:0;
}

@media (min-width: 768px) {
  .container{
    padding:10px 10px 10px 0;
  }

  .image{
    display: block;
  }
}