.container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
}

.tagList{
  display:flex;
  flex-wrap:wrap;
  margin:0;
  padding:0;
  list-style:none;
  gap:5px;
}

.eye{
  width:20px;
  height:20px;
}