.container{
  margin:0 auto;
  width:100%;
  min-height:100vh;
}

.inner{
  width:92%;
  max-width:calc(100% - 48px);
  margin:0 auto;
  margin-top:2rem;
}

@media (min-width: 768px) {
  .main{
    max-width:60rem;
  }

  .post{
    max-width:50rem;
  }
}