.footer{
  height:100px;
  color:var(--textGray);
  background-color:var(--bgGray);
  margin-top:50px;
  padding:20px 0;
}

.container{
  max-width:60rem;
  margin:0 auto;
}

.inner{
  width:92%;
  margin:0 auto;
}

.copyright{
  margin:10px 0;
}

.github{
  display:block;
  width:32px;
  height:32px;
}