.footer{
  color:var(--textGray);
  background-color:var(--bgGray);
  margin-top:50px;
  padding:20px 0;
}

.container{
  max-width:60rem;
  margin:0 auto;
}

.inner{
  width:92%;
  margin:0 auto;
}

.copyright{
  margin:10px 0;
}

.github{
  display:block;
  width:32px;
  height:32px;
}

.theme{
  padding-botton:20px;
}

.pinkTheme{
  height:40px;
  width:40px;
  background-color:var(--pink);
  border:none;
  border-radius:50%;
}