.list{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  list-style:none;
  padding:0;
  margin:0;
  background-color:var(--bgColor);
  border:none;
  box-sizing:border-box;
  position:static;
}